#selector1{
  color:white;
  background-color: black;
}

#color2{
    color:white;
    background-color: black;
}

#color3{
    color:violet;
    background-color: yellow;
}

#color4{
    color:pink;
    background-color: red;
}
